.* {
  box-sizing: border-box;
  float: left;
}

h1 {
  text-align: center;
  font-family: Arial Black;
  width: 100%;
}

body {
  background-image:
  url("https://cdn.statically.io/img/images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=733&q=80") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h2 {
  text-align: center;
  font-family: Arial;
  width: 100%;
}

ul {
  text-align: center;
  font-family: Arial Black;
  width: 100%;
}


a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: white;
}

nav li.selected {
  color: #606060; 
}

nav ul {
  list-style-type: none;
  background-color: #009999;
  border: 4px solid #111111;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 16px;
}
nav ul li {
  display: inline;
  border-right: 2px solid #111111;
  padding-right: 8px;
  padding-left: 8px;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  text-decoration: none;
  color: #111111;
}
section {
  background-color: #FFFFFF;
  margin-bottom: 24px;
  min-height: 320px;
  padding-left: 24px;
  padding-right: 24px;
}
